body {
	background: #F3F5FC;
	margin: 0px;
	}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 91.39vw;
	height: 92.19vh;
	margin: 3.9vh auto auto 5vw;
	}

#container1 {
	width: 65%;
	height: 100%;
	margin-bottom: 24.5px;
	}

img {
	vertical-align: top;
	}

#texto {
	background: #F3F5FC;
	color: #0A3871;
	display: block;
	font-size: 32px;
	width: 50vw;				
	height: 57%;
	padding-left: 10.83%;
	padding-top: 7.81%;
	border: none;
	outline: none;				
	}

#texto::placeholder {
	font-size: 32px;
	color: #0A3871;
	}

#info {
	color: #495057;
	opacity: 0.8;
	margin-left: 10.83%;
	width: 100%;
	}

#crptArea {
	display: flex;				
	justify-content: space-between;
	margin: 0 10.83%;
	}

.botao1 {
	background: #0A3871;
	color: #FFFFFF;
	width: 270px;
	height: 67px;
	border-radius: 20px;
	font-size: 16px;
	font-weight: bold;
	margin-right: 50px;
	transition-duration: 0.3s;
	}

.botao2 {
	background: #D8DFE8;
	width: 270px;
	height: 67px;
	border-radius: 20px;
	font-size: 16px;
	font-weight: bold;
	transition-duration: 0.3s;
	}

.botao1:hover, .botao2:hover {
	box-shadow: 0px 24px 24px -8px rgba(0, 0, 0, 0.5); 
}

aside {
	background: #FFFFFF;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	width: 400px;
	height: 100%;
	border-radius: 32px;			
	}

#container2 {
	display: flex;				
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 100%;
	background-repeat: no-repeat;
	background-image: url(frame6.png), url(frame5.png);
	background-position: 50% 20%, 50% 75%;
	background-size: 80%;
	padding: 24px;
	box-sizing: border-box;
	}

#copiar {
	width: 21.6vw;
	visibility: hidden;				
	}

#resultado {
	color: #495057;
	font-size: 32px;
}

footer {
	background: #0A3871;
}

#rodape, a{
	margin: 30px 0 0 0;
	padding: 15px 0;
	text-align: center;
	font-size: 20px;
	font-style: none;
	color: white;
	text-decoration: none;
}